body
{
    margin: 0;
    padding: 0;
    background: no-repeat url('friends.png') fixed center/100%;   

}
.container
{
    background-color: #f5f5f5;
    margin: 50px 200px 50px 200px;
    height: 540px;
    opacity: 0.8;
    border-radius: 10px;
}
.container .messages .text-send 
{
    padding: 5px;
    background-color: #61ea69;
    border-radius: 25px;
    margin-left: auto;
    margin: 20px 20px 10px 10px;
}
.container .messages .text-send h3
{
    text-align: end;
    margin-right: 20px;
    text-decoration: underline;
}
.container .messages .text-send p
{
    text-align: end;
    margin-right: 20px; 
    
}
.container .messages .text-receive
{
    padding: 5px;
    background-color:#61ea69;
    border-radius: 25px;
    margin: 20px 20px 10px 10px;
}
.container .messages .text-receive h3
{
    text-align: start;
    margin-left: 20px;
    text-decoration: underline;
}
.container .messages .text-receive p
{
    text-align: start;
    margin-left: 20px;
}
 form
{
    margin: auto;
}
